:root {
    --pink: #ff43ac;
    --blue: #299bfd;
    --yellow: #ffb85e;
    --green: #8dffde;
    --dark-text: #121212;
    --white: #fff;
}

div.bg-main.slidev-layout {
    background: #121212;
    color: var(--white);
    font-family: "Russo One", sans-serif;
}

div.slidev-layout {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
 * Footer
 */
div.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.75rem 1rem 1.5rem;
}

/*
 * All Slides
 */
div.cover,
div.head {
    h1.tip {
        position: absolute;
        left: 40px;
        top: 40px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: fit-content;
        min-width: unset;
    }

    img {
        max-width: 90%;
        max-height: 35vh;
        &.abs {
            position: absolute;
            max-width: unset;
            max-height: unset;
        }
        &.rel {
            position: relative;
            max-width: unset;
            max-height: unset;
        }
    }

    &.pink {
        h1,
        h2 {
            background: var(--pink);
        }
    }
    &.blue {
        h1,
        h2 {
            background: var(--blue);
        }
    }
    &.yellow {
        h1,
        h2 {
            background: var(--yellow);
        }
    }
    &.green {
        h1,
        h2 {
            background: var(--green);
        }
    }

    span {
        &.pink {
            color: var(--pink);
        }
        &.blue {
            color: var(--blue);
        }
        &.yellow {
            color: var(--yellow);
        }
        &.green {
            color: var(--green);
        }
        &.white {
            color: var(--white);
        }
    }
}

/*
 * Cover
 */
div.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &[line="same"] {
        h1 {
            padding: 0 0.8rem;
            width: fit-content;
            min-width: fit-content;
            display: inline-block;
        }
        h2 {
            display: inline-block;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
        font-size: 2.4rem;
        padding: 0.2rem 1rem;
        line-height: 3rem;
        margin: 0 auto;
    }
    h1 {
        color: var(--dark-text);
        min-width: 300px;
        margin-bottom: 0.5rem;
        width: fit-content;
    }
    h3 {
        font-size: 6rem;
        line-height: 6rem;
    }
    h5 {
        text-align: center;
    }
    img {
        max-height: 50vh;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

/*
 * Head
 */
div[layout="head"] > div {
    z-index: 4;
}
div.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    h1,
    h2 {
        color: var(--dark-text);
        min-width: 300px;
        margin-bottom: 0.5rem;
        width: fit-content;
        text-align: center;
        font-size: 2.4rem;
        padding: 0.2rem 1rem;
        line-height: 3rem;
        z-index: 2;
        ~ img {
            margin-top: 0.5rem;
        }
    }
    h2 {
        font-size: 1.8rem;
        line-height: 2.7rem;
        padding: 0 0.8rem !important;
        min-width: 280px;
    }
    h2 ~ ul {
        width: calc(100% - 1rem);
        text-align: left;
        li {
            font-size: 1.2rem;
        }
    }
    ul {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        min-height: 160px;
        display: flex;
        flex-direction: column;
        li {
            display: inline-block;
            position: relative;
            width: fit-content;
            white-space: nowrap;
            &:before {
                content: "";
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                background: var(--white);
                border-radius: 50%;
                margin-right: 0.4em;
                margin-bottom: 0.1em;
            }
            ul {
                min-height: unset;
                margin-left: 1em;
                margin-top: 0;
                margin-bottom: 0;
                li {
                    &:before {
                        content: "⮱";
                        background: none;
                        width: unset;
                        height: unset;
                    }
                }
            }
            .icon {
                height: 1em;
                line-height: 1em;
                margin-top: -0.2em;
                margin-right: 0.2em;
                display: inline-block;
            }
        }
    }
    .twocols {
        display: flex;
        gap: 1rem;
        .twocol {
            width: 50%;
            &.pink {
                h1,
                h2 {
                    background: var(--pink);
                }
            }
            &.blue {
                h1,
                h2 {
                    background: var(--blue);
                }
            }
            &.yellow {
                h1,
                h2 {
                    background: var(--yellow);
                }
            }
            &.green {
                h1,
                h2 {
                    background: var(--green);
                }
            }
        }
    }
}

/**
 * Slidev Tools
 */
*.hideAfterPrior {
    opacity: 0;
    &.slidev-vclick-hidden {
        opacity: 0;
    }
    &.slidev-vclick-current {
        opacity: 1;
    }
    &.slidev-vclick-prior {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*.slidev-vclick-target {
    &.slidev-vclick-prior,
    &.slidev-vclick-current {
        .anim {
            opacity: 0;
            animation: fadeIn 1s forwards;
            &.a0 {
                animation-delay: 0ms;
            }
            &.a1 {
                animation-delay: 250ms;
            }
            &.a2 {
                animation-delay: 500ms;
            }
            &.a3 {
                animation-delay: 750ms;
            }
            &.a4 {
                animation-delay: 1000ms;
            }
            &.a5 {
                animation-delay: 1250ms;
            }
        }
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1s forwards;
    &.a0 {
        animation-delay: 0ms;
    }
    &.a1 {
        animation-delay: 250ms;
    }
    &.a2 {
        animation-delay: 500ms;
    }
    &.a3 {
        animation-delay: 750ms;
    }
    &.a4 {
        animation-delay: 1000ms;
    }
    &.a5 {
        animation-delay: 1250ms;
    }
}

div.speaker {
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
        height: 24vh;
    }
    h1 {
        color: var(--white);
    }
    h3 {
        text-align: center;
    }
    .hooks {
        height: 1rem;
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        > div {
            height: 100%;
            width: 3rem;
            background: var(--pink);
            &:nth-child(2) {
                opacity: 0.66;
            }
            &:nth-child(3) {
                opacity: 0.38;
            }
        }
    }
}

div.three-grid {
    width: 80%;
    max-height: 15%;
    display: flex;
    margin-top: 1rem;
    height: fit-content;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    > div {
        height: 100%;
        width: auto;
        flex-grow: 1;
        position: relative;
        img {
            max-width: 100%;
            width: auto;
            margin: 0 auto;
            object-fit: contain;
        }
        > div {
            position: absolute;
            top: calc(100% + 0.5rem);
            left: 0;
            right: 0;
            height: 2rem;
            max-width: 100%;
            font-size: 0.5rem;
            color: var(--yellow);
            font-size: 1.4rem;
            text-align: center;
            span {
                color: var(--white);
            }
        }
    }
}

div.three-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    width: fit-content;
    align-items: stretch;
    max-width: 40%;
    height: 40%;
    gap: 1rem;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    > div {
        flex-grow: 1;
        display: grid;
        width: fit-content;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        // justify-content: stretch;
        // align-items: center;
        gap: 1rem;
        > div {
            width: 100%;
            flex-grow: 1;
            position: relative;
            img {
                height: 100%;
                margin: 0 auto;
                object-fit: contain;
            }
        }
    }
}
