@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
    --pink: #ff43ac;
    --blue: #299bfd;
    --yellow: #ffb85e;
    --green: #8dffde;
    --dark-text: #121212;
    --white: #FFF;
}

div.bg-main {
    background: #121212;
    color: var(--white);
    font-family: "Russo One", sans-serif;
}

div.slidev-layout {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
 * Footer
 */
div.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.75rem 1rem 1.5rem;
}

/*
 * Cover
 */
div.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.cover[line="same"] h1 {
    padding: 0 0.8rem;
    width: fit-content;
    min-width: fit-content;
    display: inline-block;
}
div.cover[line="same"] h2 {
    display: inline-block;
}
div.cover h1 {
    color: var(--dark-text);
    min-width: 300px;
}
div.cover h1 {
    margin-bottom: 0.5rem;
}
div.cover h1,
div.cover h2,
div.cover h3,
div.cover h4 {
    text-align: center;
    font-size: 2.4rem;
    padding: 0.2rem 1rem;
    line-height: 3rem;
}
div.cover h3 {
    font-size: 6rem;
    line-height: 6rem;
}
div.cover.pink h1 {
    background: var(--pink);
}
div.cover.blue h1 {
    background: var(--blue);
}
div.cover.yellow h1 {
    background: var(--yellow);
}
div.cover.green h1 {
    background: var(--green);
}

/*
 * Head
 */
div.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
div.head h1 {
    color: var(--dark-text);
    min-width: 300px;
    margin-bottom: 0.5rem;
    width: fit-content;
}
div.head h1,
div.head h2 {
    text-align: center;
    font-size: 2.4rem;
    padding: 0.2rem 1rem;
    line-height: 3rem;
}
div.head.pink h1, div.head.pink h2 {
    background: var(--pink);
}
div.head.blue h1 {
    background: var(--blue);
}
div.head.yellow h1 {
    background: var(--yellow);
}
div.head.green h1 {
    background: var(--green);
}
div.head img {
    max-width: 90%;
    max-height: 35vh;
}
div.head ul {
    margin-top: 0.5rem;
}
div.head li:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background: var(--white);
    border-radius: 50%;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
}
