:root {
    --gray: #f7f7f7;
    --gray-two: #9b9ba7;
    --gray-three: #454545;
    --black: #333333;

    --pink: #ff2d55;
    --blue: #5298ff;
    --light-blue: #eef5ff;
    --indigo: #5854d6;
    --yellow: #e8b811;
    --light-yellow: #fff5cd;
    --red: #d55555;
    --light-red: #f9e7e7;
    --orange: #ff9500;
    --green: #49b393;
    --light-green: #e7f4ef;
    --purple: #af52de;
    --teal: #5ac8fa;
    --dark-text: #242320;
    --white: #fff;
    --slidev-code-padding: 0px;
}

div.bg-main.slidev-layout {
    background: var(--gray);
    color: var(--dark-text);
    font-family: "Inter", sans-serif;

    @apply pt-10;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-weight: bolder;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }
}

html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

div.slidev-layout {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgdao {
    background: linear-gradient(323.31deg, #73A6F2 -15.56%, #42C2AB 108.43%); background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
